{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    {% if category %}
    <h1>The category name is {{ category.name }}</h1>
            {% if pages %}
                <ul>
                {% for page in pages %}
                    <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
           <h1>The current pages is not exist</h1>
           {% endif %}

    {% else %}
    <h1>The specify category is not exist</h1>
    {% endif %}
{% endblock %}
